.artwork {
    position: relative;
    width: min(75vw, 650px, 75vh);
    margin: 40px auto;
    border: 2px solid darkgreen;
    aspect-ratio: 1/1;
    background-color: #d7e98a;
    overflow: hidden;
}

/* Four Green Squares*/

/* Top-left square*/
.green-one {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 32%;
    height: 32%;
    background-color: #087c3d;
}

/* Top-right square*/
.green-two {
    position: absolute;
    top: 15%;
    left: 47%;
    width: 32%;
    height: 32%;
    background-color: #73c63c;
}

/* Bottom-left square*/
.green-three {
    position: absolute;
    top: 47%;
    left: 15%;
    width: 32%;
    height: 32%;
    background-color: #00a52a;
}

/* Bottom-right square*/
.green-four {
    position: absolute;
    top: 47%;
    left: 47%;
    width: 32%;
    height: 32%;
    background-color: #b2df00;
}

.red-square{
    position: absolute;
    top:29%;
    left: 29%;
    width: 36%;
    height: 36%;
    background-color: #ed2939;
}

/* top left square*/
.red-one {
    position: absolute;
    top: 29%;
    left: 29%;
    width: 18%;
    height: 18%;
    background-color: #ac1824;
}

/* top right square*/
.red-two {
    position: absolute;
    top: 29%;
    left: 47%;
    width: 18%;
    height: 18%;
    background-color: #e94242;
}

/* bottom left square*/
.red-three {
    position: absolute;
    top: 47%;
    left: 29%;
    width: 18%;
    height: 18%;
    background-color: #ff5f6c;
}

/* bottom right square*/
.red-four {
    position: absolute;
    top: 47%;
    left: 47%;
    width: 18%;
    height: 18%;
    background-color: #ffb9bf;
}