
.artwork {
    width: 700px;
    height: 850px;
    margin: 40px auto;
    border: 4px solid black;
    position: relative;
    overflow: hidden;
}
/* square overlapping blue section*/
.top-square {
    width: 120px;
    height: 120px;
    background: #d4ad61;
    position: absolute;
    top: 80px;
    left: 290px;
}

/* dark blue area at the top */
.blue-section {
    position: absolute;
    width: 100%;
    height: 200px;
    background: #8295b3;
}

/* Large purple horizontal section */
.purple-section {
    width: 100%;
    height: 170px;
    background: #665283;
    position: absolute;
    top:200px;
}

/* Large yellow horizontal section */
.yellow-section {
    width: 100%;
    height: 170px;
    background: #f5f28c;
    position: absolute;
    top: 370px;
}

/* Large orange section at the bottom */
.orange-section {
    width: 100%;
    height: 310px;
    background: #d99a57;
    position: absolute;
    top: 540px;
}

/* Square overlapping the orange section*/
.bottom-square {
    width: 120px;
    height: 120px;
    background: #d4ad61;
    position: absolute;
    top: 540px;
    left: 290px;
}